body{
    background-color: darkslategray;
    margin: 20px;
}
h1{
    color: brown;
    text-shadow: 2px 3px 4px #000;
}
h2{
    color: rgb(27, 27, 179);
    text-shadow: 1px 2px 3px aqua;
}
table{
    text-shadow: 10px 10px 10px #000;
    box-shadow: 10px 10px 10px #000;
    width: 400px;

}
h3{
    color: aliceblue;
}
td{
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    text-align: center;
}